{% extends 'base.html' %}
{% load static %}  

{% block title %}
   {{ product.name }}
{% endblock %}
  
{%block content %} 
    <section class="inner-bg over-layer-black" style="background-image: url('/static/hospital/images/bg/4.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="mini-title inner-style-2">
                        <h3>Shop </h3>
                        <p><a href="index-one.html">Home</a> <span class="fa fa-angle-right"></span> <a href="#">Shop </a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- SHOPING CART AREA START -->
    <section class="shoping-cart-area bg-f8">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="blog-item">
                <div class="blog-images">
                    <div class="blog-img"><a href="{{ product.get_absolute_url }}"><img src="{{ product.image.url }}" alt=""></a></div>
                </div>
                <div class="blog-content">
                    <a href="{{ product.get_absolute_url }}"><h4>{{ product.name }}</h4></a>
                    <a href="{{ product.category.get_absolute_url }}"><h6 class="color-defult text-lowercase">{{ product.category }}</h6></a>
                    <div class="blog-date margin-bottom-20 margin-top-30">
                        <h3>$ {{ product.price }} <sub>/Only</sub></h3>
                    </div>
                    <select class="dropdown clearfix">
                      <option>Choose your size</option>
                      <option>Small</option>
                      <option>Medium</option>
                      <option>Large</option>
                    </select>
                    <select class="dropdown clearfix">
                      <option>Choose your Color</option>
                      <option>Red</option>
                      <option>Blue</option>
                      <option>White</option>
                      <option>Other</option>
                    </select>
                    <p>{{ product.description|linebreaks }}</p>
                    <form action="{% url 'cart:cart_add' product.id %}" method="post">
                        {{ cart_product_form }} 
                        {% csrf_token %}
                        <input type="submit" value="Add to Cart" class="btn btn-simple" ></input>
                    </form>
                    <!-- <a href="#" class="btn btn-simple">Buy Now</a> -->
                </div>
            </div>
          </div>
        </div>  
      </div>
    </section>
    <!-- SHOPING CART AREA END -->


    <section class="shop-area">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="blog-sideber">
                        <div class="widget clearfix">
                            <div class="blog-search">
                                <form action="#" class="clearfix">
                                    <input type="search" placeholder="Search Here..">
                                    <button type="submit">
                                        <span class="pe-7s-search"></span>
                                    </button>
                                </form>
                            </div>
                        </div>
                        <div class="widget clearfix">
                            <div class="sideber-title">
                                <h4>Best PRODUCTS</h4>
                            </div>
                            <div class="product-item">
                                <a href="#"><img src="{img/shop/b1.jpg" alt="" />
                                <span>$ 60 /<sub>Only</sub></span>
                                <p>SAVE UP TO 25% OFF</p>
                                </a>
                            </div>
                        </div>
                        <div class="widget clearfix">
                            <div class="sideber-title">
                                <h4>TOP SELLERS</h4>
                            </div>
                            <div class="shop-single-item">
                                <div class="shop-sell-item">
                                    <img alt="#" src="img/shop/1.jpg">
                                </div>
                                <div class="shop-sell-details">
                                    <h5><a href="#">Your Title Here</a></h5>
                                    <h5>$ 50.00</h5>
                                    <ul>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="widget">
                                <div class="shop-sell-item">
                                    <img alt="#" src="img/shop/2.jpg">
                                </div>
                                <div class="shop-sell-details">
                                    <h5><a href="#">Boys T-shirt</a></h5>
                                    <h5>$ 50.00</h5>
                                    <ul>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="widget clearfix">
                            <div class="sideber-title">
                                <h4>Categories</h4>
                            </div>
                            <div class="sideber-content">
                                <ul>
                                  {% for c in categories %}
                                  <li {% if category.slug == c.slug %} class="selected"
                                    {% endif %}> 
                                      <a href="{{ c.get_absolute_url }}"><i class="fa fa-angle-right"></i> {{ c.name }}</a> 
                                   </li>
                                   {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="widget clearfix">
                            <div class="sideber-title">
                                <h4>Archive</h4>
                            </div>
                            <div class="sideber-content">
                                <ul>
                                  <li> <a href="#"><i class="fa fa-caret-right"></i> January 2018</a> </li>
                                  <li> <a href="#"><i class="fa fa-caret-right"></i> May 2018</a> </li>
                                  <li> <a href="#"><i class="fa fa-caret-right"></i> June 2018</a> </li>
                                  <li> <a href="#"><i class="fa fa-caret-right"></i> Febuary 2018</a> </li>
                                  <li> <a href="#"><i class="fa fa-caret-right"></i> April 2018</a> </li>
                                </ul>
                            </div>
                        </div>
                        <div class="widget clearfix">
                            <div class="sideber-title">
                                <h4>Popular Tags</h4>
                            </div>
                            <div class="sideber-content">
                                <ul class="list-inline tags margin-top-20">
                                  <li> <a href="#"> Resources </a> </li>
                                  <li> <a href="#"> News </a> </li>
                                  <li> <a href="#"> Recent Project</a> </li>
                                  <li> <a href="#"> Events </a> </li>
                                  <li> <a href="#"> Alerts</a> </li>
                                  <li> <a href="#"> Complete Project</a> </li>
                                  <li> <a href="#"> News </a> </li>
                                  <li> <a href="#"> Events </a> </li>
                                  <li> <a href="#"> Alerts</a> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="shop-right-area">
                        <div class="shop-banner">
                            <img src="{%static 'hospital/images/shop/bg1.jpg' %}" alt="" />
                        </div>
                        <div class="shop-tab-area">
                            <!--NAV PILL-->
                            <div class="shop-tab-pill">
                                <ul>
                                    <li id="p-mar">
                                        <a data-toggle="pill" href="#grid">
                                            <i class="fa fa-th" aria-hidden="true"></i>
                                            <span>Grid</span>
                                        </a>
                                    </li>
                                    <li class="active">
                                        <a class="active" data-toggle="pill" href="#list">
                                            <i class="fa fa-th-list" aria-hidden="true"></i>
                                            <span>List</span>
                                        </a>
                                    </li>
                                    <li class="product-size-deatils">
                                        <div class="show-label">
                                            <label>Show : </label>
                                            <select>
                                                <option value="10" selected="selected">10</option>
                                                <option value="09">09</option>
                                                <option value="08">08</option>
                                                <option value="07">07</option>
                                                <option value="06">06</option>
                                            </select>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="sort-position">
                                            <label><i class="fa fa-sort-amount-asc"></i>Sort by : </label>
                                            <select>
                                                <option value="position" selected="selected">Position</option>
                                                <option value="Name">Name</option>
                                                <option value="Price">Price</option>
                                            </select>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <!-- Product List -->
                            <div class="tab-content">
    
                                <!-- Product List Row -->
                                <div id="list" class="tab-pane active">
                                    <div class="row">
                                         {% for product in products %}
                                        <div class="col-md-12">
                                            <div class="shop-list-single shop-product-item-area">
                                                <div class="shop-list-left-content">
                                                    <a href="{{ product.get_absolute_url }}"><img src="{{ product.image.url }}" alt="" /></a>
                                                    <span class="shop-cart-icon">
                                                        <a href="#"><i class="fa fa-shopping-bag"></i></a>
                                                    </span>
                                                </div>
                                                <div class="shop-list-right-content">
                                                    <div class="product-content">
                                                        <h2><a href="{{ product.get_absolute_url }}"> {{ product.name }}</a></h2>
                                                        <p><b>$ {{ product.price }}</b></p>
                                                        <div class="rating">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                        </div>
                                                    </div>
                                                    <div class="product-details">
                                                        <p>{{ product.description|linebreaks }}</p>
                                                        <!-- <p>Morbi ornare lectus quis justo gravida semper. Nulla tellus mi, vulputate adipiscing cursus eu, suscipit id nulla.</p> -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}

                                       
                                        
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

   <!-- divider start -->
    <section class="service-area over-layer-default" style="background-image:url(img/bg/5.jpg);">
        <div class="container padding-bottom-none padding-top-40">
            <div class="section-content">
                <div class="row">
                    <div class="col-sm-12 col-md-4">
                        <div class="service-item style-1 text-white border-right">
                            <div class="service-icon">
                                <i class="pe-7s-call"></i>
                            </div>
                            <div class="content">
                                <h5><a href="#">Give us a Call</a></h5>
                                <p>+970-438-3258</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="service-item style-1 text-white border-right">
                            <div class="">
                                <i class="pe-7s-mail-open"></i>
                            </div>
                            <div class="content">
                                <h5><a href="#">Send us a Message</a></h5>
                                <p>Your_malil@gmail.com</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="service-item style-1 text-white">
                            <div class="">
                                <i class="pe-7s-map-marker"></i>
                            </div>
                            <div class="content">
                                <h5><a href="#">Visit our Location</a></h5>
                                <p>12 New york, USA </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- divider end -->
{%endblock content %}

{% block js %}
    <!-- jQuery -->
    <script type="text/javascript" src="{%static 'hospital/js/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script type="text/javascript" src="{%static 'hospital/js/bootstrap.min.js' %}"></script>

    <!-- all plugins and JavaScript -->
    <script type="text/javascript" src="{%static 'hospital/js/bootstrap-datepicker.min.js' %}"></script>
    <script type="text/javascript" src="{%static 'hospital/js/css3-animate-it.js' %}"></script>
    <script type="text/javascript" src="{%static 'hospital/js/bootstrap-dropdownhover.min.js' %}"></script>
    <script type="text/javascript" src="{%static 'hospital/js/owl.carousel.min.js' %}"></script>
    <script type="text/javascript" src="{%static 'hospital/js/gallery.js' %}"></script>
    <script type="text/javascript" src="{%static 'hospital/js/player.min.js' %}"></script>
    <script type="text/javascript" src="{%static 'hospital/js/retina.js' %}"></script>
    <script type="text/javascript" src="{%static 'hospital/js/comming-soon.js' %}"></script>

    <!-- Main Custom JS -->
    <script type="text/javascript" src="{%static 'hospital/js/script.js' %}"></script>
{% endblock js %}